@use 'bootstrap';
@import "node_modules/font-awesome/scss/font-awesome.scss";



*{ margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: Trebuchet MS, sans-serif;
}


#app_header .container-fluid,
#app_footer .container-fluid
{
    background-color: darkred;
    min-height: 60px;
    position: absolute;
}

#app_header .container-fluid{
    top: 0;
}
#app_footer .container-fluid{
    bottom: 0;
}

#app_header .container-fluid .box-menu{
    padding: 30px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    width: 70px;
}

#app_header .container-fluid .box-menu:hover{
    border: 1px solid white;
    color: darkred;
    background-color: white;
}

main .container-fluid
{
    height: 100vh;
}

